<div class="row">
	<div class="small-12 columns">
		<%= form_for([@restaurant, @menu]) do |f| %>
			<div class="form-steps-container">
				<ul id="formprogress">
					<li class="active">Information</li>
					<li>Plats</li>
				</ul>
				<% if @menu.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

					<ul>
						<% @menu.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
				<% end %>

				<fieldset>
					<legend>Information</legend>
					<%= f.text_field :nom %>
					<%= link_to "Suivant", '#', class: "right button tiny secondary next" %>
				</fieldset>
				<fieldset>
					<legend>Plats</legend>
					<%= f.hidden_field :restaurant_id %>
					<div class="plats">
						<%= render @menu.plats, f: f %>
					</div>
					<a class="button tiny info"  data-reveal-id="confirmModal">Ajouter un Plat</a>
					<%= link_to "Précédant", '#', class: "left button tiny secondary previous" %>
					<%= f.submit class: "button right" %>
				</fieldset>
			</div>
		<% end %>
	</div>
</div>
<div id="confirmModal" class="reveal-modal" data-reveal>
	<h2>Ajouter un Plat</h2>
	<form>
		<div class='plat row'>
			<div class="small-12 medium-6 columns">
				<label>Nom</label>
				<input class="input-text" name="nom" type="text">
			</div>
			<div class="small-12 medium-6 columns">
				<label>Prix</label>
				<input class="input-number" name="prix" type="number" value="0.00" min="0.00" max="1024.00" step="0.25">
			</div>
			<div class="small-12 columns">
				<label>Description</label>
				<textarea class="medium input-text" name="description" type="text"></textarea>
			</div>
			<div class="small-12 columns">
				<ul class="button-group radius right">
					<li><a href="#" class="button small" onclick="addPlat($(this));">Confirmer</a></li>
					<li><a href="#" class="secondary button small" onclick="$('a.close-reveal-modal').trigger('click');">Annuler</a></li>
				</ul>
			</div>
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>
<div id="descModal" class="reveal-modal" data-reveal>
	<h2>Attention!</h2>
	<p>
		Le plat que vous venez d'ajouter n'a pas de description.
	</p>
	<a class="close-reveal-modal">&#215;</a>
</div>
<script type="text/javascript">
	var addPlat;
	$(function(){
		addPlat = function(modal){
			var container = modal.parents('.plat');
			var $rslt = $($("#plat_form_template").text().replace(/{{index}}/g, $('.plats .plat').length));
			var desc = container.find('[name=description]').val();

			$rslt.find('.input-nom').val(container.find('[name=nom]').val());
			$rslt.find('.input-prix').val(container.find('[name=prix]').val());
			$rslt.find('.input-description').val(desc);

			$(".plats").append($rslt);
			$("#confirmModal form")[0].reset();	
			$('a.close-reveal-modal').trigger('click');
			if (formstep) {
				formstep.reset_form_height();
			}
			if (!!!desc) {
				$('#descModal').foundation('reveal', 'open');
				setTimeout(function(){
					$('a.close-reveal-modal').trigger('click');
				}, 4000);
			}
		}
	})
</script>
<script id="plat_form_template" type="text/template">
	<div class='plat row'>
		<div class="small-12 medium-6 columns">
			<label>Nom</label>
			<input class="input-text input-nom" name="menu[plats_attributes][{{index}}][nom]" type="text">
		</div>
		<div class="small-12 medium-6 columns">
			<label>Prix</label>
			<input class="input-number input-prix" name="menu[plats_attributes][{{index}}][prix]" type="number" value="0.00" min="0.00" max="1024.00" step="0.25">
		</div>
		<div class="small-12 columns">
			<label>Description</label>
			<textarea class="medium input-text input-description" name="menu[plats_attributes][{{index}}][description]" type="text"></textarea>
			<a class="button tiny alert right" onclick="$(this).parents('.plat').remove()">Supprimer</a>
		</div>
	</div>
</script>
