<div class="small-12 columns">
	<h3><%= @menu.restaurant.nom.capitalize %></p>
	<p><%= @menu.nom.capitalize %></p>
</div>
<% @menu.plats.each do |plat| %>
<div class="small-12 medium-4 large-3 left columns">
	<ul class="pricing-table plat">
		<li class="title"><%= plat.nom %></li>
		<li class="price"><%= plat.prix.round(2) %> $</li>
		<li class="description"><%= plat.description %></li>
	</ul>
</div>
<% end %>


<ul class="button-group radius small-12 columns">
	<li><%= link_to 'Edit', edit_restaurant_menu_path(@restaurant, @menu), class: "button tiny secondary" %></li>
	<li><%= link_to 'Back', restaurant_menus_path(@restaurant), class: "button tiny secondary" %></li>
</ul>
