
<div class="small-12 columns">
	<%= form_for(@commande) do |f| %>
	<% if @commande.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@commande.errors.count, "error") %> prohibited this commande from being saved:</h2>

		<ul>
			<% @commande.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<table style="width: 100%">
		<thead>
			<tr>
				<th>#</th>
				<th>Plat</th>
				<th>Quantité</th>
				<th>Prix</th>
				<th>Sous Total</th>
				<th style="color: red">X</th>
			</tr>
		</thead>
		<tbody>
			<% 
			index = 1
			@commande.ligne_commandes.each do |lc|
				%>
				<tr>
					<td><%= index %></td>
					<td><%= lc.plat.nom %></td>
					<%= f.fields_for :ligne_commandes, lc do |ff| %>
						<td><%= ff.number_field :qte, label: false %></td>
						<%= ff.hidden_field :id %>
						<td><%= lc.plat.prix %></td>
						<td><%= lc.qte * lc.plat.prix %> $</td>
						<td><%= ff.check_box :_destroy, label: false %></td>
					<% end %>
				</tr>
				<% 
				index += 1
			end 
			%>
			<tr align="right">
				<th>Total</th>
				<th colspan="3" ></th>
				<th colspan="2"><%= @commande.total %> $</th>
			</tr>
		</tbody>
	</table>
	<div class="row">
    <div class="small-12 columns">
      <%= f.collection_select(:adresse_id, Adresse.all, :id, :value) %>
    </div>
    <div class="small-12 columns datetime">
      <%= f.datetime_select :date_de_livraison, {}, {} %>
    </div>
  </div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.submit nil, class: 'right button medium radius' %>
		</div>
	</div>
	<% end %>
</div>
<div class="small-12 columns">
	<ul class="button-group radius">
		<li><%= link_to 'Show', @commande, class: "button tiny secondary" %></li>
		<li><%= link_to 'Back', commandes_path, class: "button tiny secondary" %></li>
	</ul>
</div>

<style>
  .datetime select.input-text {
    width: 16%;
  }
</style>