<h1>Listing commandes</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Restaurant</th>
      <th>Numero de Confirmation</th>
      <th>Date de livraison</th>
      <th>Date de Création</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commandes.each do |commande| %>
      <tr>
        <td><%= commande.id %></td>
        <td><%= commande.restaurant.nom %></td>
        <td><%= commande.numero %></td>
        <td><%= l commande.date_de_livraison, format: :short %></td>
        <td><%= l commande.created_at, format: :short %></td>
        <td><%= link_to 'Show', commande %></td>
        <td><%= link_to 'Edit', edit_commande_path(commande) %></td>
        <td><%= link_to 'Destroy', commande, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commande', new_commande_path %>
