<h1>Listing commandes</h1>

<table class="responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Restaurant</th>
      <th>Numero de Confirmation</th>
      <th>Date de livraison</th>
      <th>Date de Création</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commandes.each do |commande| %>
      <tr>
        <td data-th="#"><%= commande.id %></td>
        <td data-th="Restaurant"><%= link_to commande.restaurant.nom, commande.restaurant %></td>
        <td data-th="Numero de Confirmation"><%= commande.numero %></td>
        <td data-th="Date de livraison"><%= l commande.date_de_livraison, format: :short %></td>
        <td data-th="Date de Création"><%= l commande.created_at, format: :short %></td>
        <td>
          <ul class="button-group radius">
            <li><%= link_to 'Show', commande, class: "button tiny secondary" %></li>
            <li><%= link_to 'Edit', edit_commande_path(commande), class: "button tiny secondary" %></li>
            <li><%= link_to 'X', commande, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style>li a.button{margin:0;}</style>
<%= link_to 'New Commande', new_commande_path, class: "button tiny radius secondary" %>