<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Équipe 10', root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
        <li class="has-dropdown">
          <%= link_to current_user.email, '#', style: 'cursor: default;text-decoration: none;' %>
          <ul class="dropdown">
            <li><a href="#"><%= link_to "Paramètre", edit_user_registration_path %></a></li>
            <li class="active"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "S'inscrire", new_user_registration_path %></li>
        <li><%= link_to "Connexion", new_user_session_path %></li>
        <% end %>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
      <% if user_signed_in? %>
        <li class="has-dropdown">
          <a href="#">Gestionnaire</a>
          <ul class="dropdown">
            <!-- <li><label>Scopes</label></li> -->
            <li><%= link_to "Restaurants", restaurants_path %></li>
            <li><%= link_to "Commandes", commandes_path %></li>
          </ul>
        </li>
      <% end %>
      </ul>
    </section>
</nav>
<style>nav.top-bar {margin-bottom: 10px;}</style>
