<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "gestion de commandes".capitalize %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= params[:controller] %>">
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
  <div class="row" style="margin-bottom: 50px;">
    <%= yield %>
  </div>
  <% if Rails.env.development? %>
  <% console %>
  <% end %>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag "application" %>
</body>
</html>
